.App {
  justify-content: center;
  align-items: center;
  min-width: 90vw;
  min-height: 97vh;
  background-color: #bcd4eeb6;
  padding: 5px;
  margin: 5px;
}
.button {
  margin-top: 0.5em;
}

.center {
  margin: auto;
  width: 50%;
  background-color: #8faccab6;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
}

.center-connect {
  margin: auto;
  width: 80%;
  padding: 5px;
  text-align: center;
}
.left-aligned {
  text-align: left;
}
.right-aligned {
  text-align: right;
  margin: 5px;
}
